.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}

.navbar div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
}

.navbar_logo {
  font-weight: 500;
}